html
  head
    title Hatchverse | Official Website
    link(rel='stylesheet', href='css.css')
    link(href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet')
    link(rel="shortcut icon" type="image/png" href="https://i.imgur.com/tgXLmah.png")
body
  img(src="https://i.imgur.com/tgXLmah.png" style="height:350; position: absolute;top: 50%;left: 25%;transform: translate(-50%, -50%);")
  h1(style="font-family: 'Viga'; position: absolute;top: 41%;left: 17em;transform: translate(-50%, -50%);") Hatchverse
  h3(style="font-family: 'Source Sans Pro'; position: absolute;top: 50%;left: 25%;transform: translate(-50%, -50%);")= users
  // This will show the current amount of users using Hatchverse
  a(href="https://discordapp.com/oauth2/authorize?client_id=591693828394844180&permissions=8&scope=bot" target="_blank" style="font-family: 'Source Sans Pro'; position: absolute;top: 50%;left: 25%;transform: translate(-50%, -50%);") Add to Discord<br />
  a(href="https://discord.gg/jqcE52f" target="_blank" style="font-family: 'Source Sans Pro';position: absolute;top: 50%;left: 25%;transform: translate(-50%, -50%);") Join Development<br />
  // possible description rewrite plz
  p(style="font-family: 'Source Sans Pro'; position: absolute;top: 50%;left: 48em;transform: translate(-50%, -50%);")
    b Hatchverse 
    | is a unique bot with an ability to open virtual eggs for pets that can be traded with a trade system or managed with an inventory system. <br />You can also buy perks and boosts from the shop to help you on your egg opening adventure. Inspired by Rumble Studios Bubble Gum Simulator.