html
  head
    title Hatchverse | Official Website
body
  img(src="https://cdn.discordapp.com/attachments/302599652870717460/593938645841608714/Hatchverse_Glow.png" style="position: absolute; right: 50%;")
  h1 Hatchverse
  h3= users
  // This will show the current amount of users using Hatchverse
  a(href="https://discordapp.com/oauth2/authorize?client_id=591693828394844180&permissions=8&scope=bot") Add to Discord <br />
  a(href="https://discord.gg/jqcE52f") Join Development
  // OK
  // TRYING TO COMMIT DEATH
  
  a(href="mywebsite.com/thereasontolife" target="_blank")